In [ ]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt 
from sklearn.model_selection import train_test_split 
from sklearn.cluster import KMeans
import keras 
from keras.models import Sequential 
from keras.layers import InputLayer 
from keras.layers import Dense 
from keras.layers import Dropout 
from keras.constraints import maxnorm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Hackathon/Telco.csv")

In [ ]:
data.SeniorCitizen.replace([0, 1], ["No", "Yes"], inplace= True) 
data.TotalCharges.replace([" "], ["0"], inplace= True) 
data.TotalCharges = data.TotalCharges.astype(float) 
data.drop("customerID", axis= 1, inplace= True) 
data.Churn.replace(["Yes", "No"], [1, 0], inplace= True)

In [ ]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,Male,No,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [ ]:
z=(data['tenure'].to_numpy()).reshape(-1,1)
#print(z)
kmeanstenure=KMeans(n_clusters=3,random_state=0).fit(z)
kmeanstenure.labels_
data['tenure_clustered']=kmeanstenure.labels_
tenurecount0=0
tenurecount1=0
tenurecount2=0
tenure0=0
tenure1=0
tenure2=0
for i in range(0,7043):
  if(data['tenure_clustered'][i]==0):
    tenurecount0=tenurecount0+1
    tenure0=tenure0+data['Churn'][i]
  elif(data['tenure_clustered'][i]==1):
    tenurecount1=tenurecount1+1
    tenure1=tenure1+data['Churn'][i]
  elif(data['tenure_clustered'][i]==2):
    tenurecount2=tenurecount2+1
    tenure2=tenure2+data['Churn'][i]
probten0=tenure0/tenurecount0
probten1=tenure1/tenurecount1
probten2=tenure2/tenurecount2
print(probten0)
print(probten1)
print(probten2)
(data['TotalCharges'].isnull()).count()

0.2102803738317757
0.4346768589298124
0.09513175524787852

7043

In [ ]:
z1=(data['MonthlyCharges'].to_numpy()).reshape(-1,1)
#print(z)
kmeansmonthly=KMeans(n_clusters=3,random_state=0).fit(z1)
data['MonthlyCharges_clustered']=kmeansmonthly.labels_
monthcount0=0
monthcount1=0
monthcount2=0
month0=0
month1=0
month2=0
for i in range(0,7043):
  if(data['MonthlyCharges_clustered'][i]==0):
    monthcount0=monthcount0+1
    month0=month0+data['Churn'][i]
  elif(data['MonthlyCharges_clustered'][i]==1):
    monthcount1=monthcount1+1
    month1=month1+data['Churn'][i]
  elif(data['MonthlyCharges_clustered'][i]==2):
    monthcount2=monthcount2+1
    month2=month2+data['Churn'][i]
probmon0=month0/monthcount0
probmon1=month1/monthcount1
probmon2=month2/monthcount2
print(probmon0)
print(probmon1)
print(probmon2)
data

0.2831621259490844
0.34546703296703296
0.12103594080338266

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_clustered,MonthlyCharges_clustered,TotalCharges_clustered
0,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,...,No,Month-to-month,Yes,Electronic check,29.85,29.85,0,1,2,1
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,...,No,One year,No,Mailed check,56.95,1889.50,0,0,0,0
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,1,1,0,1
3,Male,No,No,No,45,No,No phone service,DSL,Yes,No,...,No,One year,No,Bank transfer (automatic),42.30,1840.75,0,0,2,0
4,Female,No,No,No,2,Yes,No,Fiber optic,No,No,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,No,Yes,Yes,24,Yes,Yes,DSL,Yes,No,...,Yes,One year,Yes,Mailed check,84.80,1990.50,0,0,1,0
7039,Female,No,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,...,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,0,2,1,2
7040,Female,No,Yes,Yes,11,No,No phone service,DSL,Yes,No,...,No,Month-to-month,Yes,Electronic check,29.60,346.45,0,1,2,1
7041,Male,Yes,Yes,No,4,Yes,Yes,Fiber optic,No,No,...,No,Month-to-month,Yes,Mailed check,74.40,306.60,1,1,0,1
7042,Male,No,No,No,66,Yes,No,Fiber optic,Yes,No,...,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,0,2,1,2

In [ ]:
z2=(data['TotalCharges'].to_numpy()).reshape(-1,1)
#print(z)
#kmeanstotal=KMeans(n_clusters=3,random_state=0).fit(z2)
#data['TotalCharges_clustered']=kmeanstotal.labels_
#totalcount0=0
#totalcount1=0
#totalcount2=0
#total0=0
#total1=0
#total2=0
#for i in range(0,7043):
 # if(data['TotalCharges_clustered'][i]==0):
  #  totalcount0=totalcount0+1
   # total0=total0+data['Churn'][i]
 # elif(data['TotalCharges_clustered'][i]==1):
   # totalcount1=totalcount1+1
   # total1=total1+data['Churn'][i]
  #elif(data['TotalCharges_clustered'][i]==2):
  #totalcount2=totalcount2+1
   # total2=total2+data['Churn'][i]
#probtot0=total0/totalcount0
#probtot1=total1/totalcount1
#probtot2=total2/totalcount2
#print(probtot0)
#print(probtot1)
#print(probtot2)
#data

ValueError: ignored

In [ ]:
data = pd.get_dummies(data)

In [ ]:
data.head()

,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,SeniorCitizen_No,SeniorCitizen_Yes,Partner_No,Partner_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,29.85,29.85,0,1,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,0
1,34,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,2,53.85,108.15,1,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,45,42.30,1840.75,0,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,2,70.70,151.65,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [ ]:
res=data['Contract_One year'].value_counts()[1]
print(len(X))
OneYear=0
count1=0
count=0
month=0
twoyear=0
count2=0
for i in range(0,7043):
  if (data['Contract_One year'][i])==1:
    count=count+1
    OneYear=OneYear+data['Churn'][i]
  elif (data['Contract_Month-to-month'][i]==1):
    count1=count1+1
    month=month+data['Churn'][i]
  elif (data['Contract_Two year'][i]==1):
    count2=count2+1
    twoyear=twoyear+data['Churn'][i]
ProbOne=OneYear/count
ProbMonth=month/count1
ProbTwo=twoyear/count2
print(ProbOne)
print(ProbMonth)
print(ProbTwo)
print(OneYear)
print(res)
X = data.drop("Churn", axis= 1) 
y = data.Churn

7043
0.11269517990495587
0.4270967741935484
0.02831858407079646
166
1473

In [ ]:
count3=0
NoNet=0
for i in range(0,7043):
  if(data['InternetService_No'][i]==1):
    count3=count3+1
    NoNet=NoNet+data['Churn'][i]
probNonet=NoNet/count3
print(probNonet)

0.07404980340760157

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 0)

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(8, input_dim=46, activation='relu', kernel_constraint=maxnorm(3)))

In [ ]:
model.add(Dense(8, activation='relu', kernel_constraint=maxnorm(3)))

In [ ]:
model.add(Dropout(rate=0.2))

In [ ]:
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 376

 dense_10 (Dense)            (None, 8)                 72

 dropout_3 (Dropout)         (None, 8)                 0

 dense_11 (Dense)            (None, 1)                 9

=================================================================
Total params: 457
Trainable params: 457
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss = "binary_crossentropy", optimizer = 'adam', metrics=['acc'])

In [ ]:
history = model.fit(X_train, y_train,validation_data=(X_test,y_test),epochs=40, batch_size=10)

Epoch 1/40
564/564 [==============================] - 2s 2ms/step - loss: nan - acc: 0.6793 - val_loss: nan - val_acc: 0.7388
Epoch 2/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 3/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 4/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 5/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 6/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 7/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 8/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 9/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 10/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 11/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 12/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 13/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 14/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 15/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 16/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 17/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 18/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 19/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 20/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 21/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 22/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 23/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 24/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 25/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 26/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 27/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 28/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 29/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 30/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 31/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 32/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 33/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 34/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 35/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 36/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 37/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 38/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 39/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 40/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388

In [ ]:
res=model.predict(X_test)

In [ ]:
res

array([[nan],
       [nan],
       [nan],
       ...,
       [nan],
       [nan],
       [nan]], dtype=float32)