In [ ]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt 
from sklearn.model_selection import train_test_split 
import keras 
from keras.models import Sequential 
from keras.layers import InputLayer 
from keras.layers import Dense 
from keras.layers import Dropout 
from keras.constraints import maxnorm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Hackathon/Telco.csv")

In [ ]:
data.SeniorCitizen.replace([0, 1], ["No", "Yes"], inplace= True) 
data.TotalCharges.replace([" "], ["0"], inplace= True) 
data.TotalCharges = data.TotalCharges.astype(float) 
data.drop("customerID", axis= 1, inplace= True) 
data.Churn.replace(["Yes", "No"], [1, 0], inplace= True)

In [ ]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,Male,No,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [ ]:
data = pd.get_dummies(data)

In [ ]:
data.head()

,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,SeniorCitizen_No,SeniorCitizen_Yes,Partner_No,Partner_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,29.85,29.85,0,1,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,0
1,34,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,2,53.85,108.15,1,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,45,42.30,1840.75,0,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,2,70.70,151.65,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [25]:
res=data['Contract_One year'].value_counts()[1]
print(len(X))
OneYear=0
count1=0
count=0
month=0
twoyear=0
count2=0
for i in range(0,7043):
  if (data['Contract_One year'][i])==1:
    count=count+1
    OneYear=OneYear+data['Churn'][i]
  elif (data['Contract_Month-to-month'][i]==1):
    count1=count1+1
    month=month+data['Churn'][i]
  elif (data['Contract_Two year'][i]==1):
    count2=count2+1
    twoyear=twoyear+data['Churn'][i]
ProbOne=OneYear/count
ProbMonth=month/count1
ProbTwo=twoyear/count2
print(ProbOne)
print(ProbMonth)
print(ProbTwo)
print(OneYear)
print(res)
X = data.drop("Churn", axis= 1) 
y = data.Churn

7043
0.11269517990495587
0.4270967741935484
0.02831858407079646
166
1473

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 0)

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(8, input_dim=46, activation='relu', kernel_constraint=maxnorm(3)))

In [ ]:
model.add(Dense(8, activation='relu', kernel_constraint=maxnorm(3)))

In [ ]:
model.add(Dropout(rate=0.2))

In [ ]:
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 376

 dense_10 (Dense)            (None, 8)                 72

 dropout_3 (Dropout)         (None, 8)                 0

 dense_11 (Dense)            (None, 1)                 9

=================================================================
Total params: 457
Trainable params: 457
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss = "binary_crossentropy", optimizer = 'adam', metrics=['acc'])

In [ ]:
history = model.fit(X_train, y_train,validation_data=(X_test,y_test),epochs=40, batch_size=10)

Epoch 1/40
564/564 [==============================] - 2s 2ms/step - loss: nan - acc: 0.6793 - val_loss: nan - val_acc: 0.7388
Epoch 2/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 3/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 4/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 5/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 6/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 7/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 8/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 9/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 10/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 11/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 12/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 13/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 14/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 15/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 16/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 17/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 18/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 19/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 20/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 21/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 22/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 23/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 24/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 25/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 26/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 27/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 28/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 29/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 30/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 31/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 32/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 33/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 34/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 35/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 36/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 37/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 38/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 39/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388
Epoch 40/40
564/564 [==============================] - 1s 2ms/step - loss: nan - acc: 0.7336 - val_loss: nan - val_acc: 0.7388

In [ ]:
res=model.predict(X_test)

In [ ]:
res

array([[nan],
       [nan],
       [nan],
       ...,
       [nan],
       [nan],
       [nan]], dtype=float32)